.gutter-left {
  margin-left: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.6em;
  overflow-x: hidden;
  width: 100%;
}

.background-primary {
  background-color: #e91414 !important;
  color: #f9f9f9 !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 50px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-lg {
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-primary {
  background: #f9f9f9;
  color: #e91414;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #c6c6c6;
  color: #e91414;
}

input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid #f9f9f9;
  color: #f9f9f9;
  font-size: 1em;
  padding: 5px;
  width: 90%;
  max-width: 450px;
}

input[type=text]:focus {
  outline: none;
}

input[type=text]::-webkit-input-placeholder {
  color: #8b0c0c;
}

input[type=text]::-moz-placeholder {
  color: #8b0c0c;
}

input[type=text]:-ms-input-placeholder {
  color: #8b0c0c;
}

input[type=text]::-ms-input-placeholder {
  color: #8b0c0c;
}

input[type=text]::placeholder {
  color: #8b0c0c;
}

#cover-container {
  height: 100vh;
  width: 100%;
  background: url(/images/cover-bg.jpg?6954642e6b06a7d55b2f5471e388748b);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

#cover-container span {
  display: block;
}

#cover-container #intro-text-container {
  position: relative;
  top: 250px;
  left: 150px;
}

#cover-container #intro-text-container .lg-text {
  margin-bottom: 20px;
}

#cover-container #intro-text-container #coming-message {
  position: relative;
  left: 8px;
}

#cover-container .xl-text {
  font-size: 6em;
  margin-bottom: 60px;
}

#cover-container .lg-text {
  font-size: 2.6em;
}

#cover-container #cover-focus {
  position: absolute;
  bottom: -131px;
  right: -100px;
  max-width: 60%;
  height: auto;
}

#cover-container #cover-logo {
  position: absolute;
  top: 0;
  left: -215px;
  width: 90%;
  height: auto;
  transform: rotate(-30deg);
  opacity: 0.5;
}

.callout-section {
  background: #e91414;
  color: #f9f9f9;
  padding: 30px 10%;
  position: relative;
  z-index: 2;
}

.callout-section h2 {
  margin-bottom: 5px;
}

.callout-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.callout-section i.fa-envelope {
  margin-right: -22px;
  position: relative;
  top: 1px;
}

.callout-section input[type=text] {
  padding-left: 30px;
}

#email-signup h3 {
  font-size: 1.2em;
}

.split-image-section {
  display: flex;
  height: 100vh;
  color: #e91414;
  background: #f9f9f9;
  justify-content: space-evenly;
}

.split-image-section > div {
  flex-grow: 1;
  width: 50%;
}

.split-image-section.reverse div:nth-of-type(1) {
  order: 2;
}

.split-image-section.reverse .bordered-callout {
  border-color: #f9f9f9;
}

.split-image-section.reverse .split-content p {
  color: #5c0808;
}

.split-image-section .split-content {
  padding: 8%;
}

.split-image-section .split-content h1 {
  font-size: 2.6em;
  font-weight: normal;
  margin-bottom: 30px;
}

.split-image-section .split-content p {
  font-size: 1.8em;
  line-height: 1.6em;
  color: #f15959;
}

.split-image-section .split-image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#split-one {
  background: url(/images/IMG_2234.jpeg?c049789f3c830f33243cd266391a7c16);
}

#split-two {
  background: url(/images/IMG_2944.jpeg?47c50d1b5175a22d794318d40d1aae60);
}

#split-three {
  background: url(/images/IMG_2946.jpeg?0b282eb6ce1e8cf62fb2224df69382e6);
}

#split-four {
  background: url(/images/FullSizeRender.jpeg?5125384b1370eb33b08aa7ae4baf2e46);
}

.bordered-callout {
  border-top: 1px solid #e91414;
  border-bottom: 1px solid #e91414;
  padding: 20px;
  margin: 100px auto 0;
  text-align: center;
  font-size: 2em;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

/* Portrait */

@media only screen and (max-width: 550px) {
  #cover-container #cover-logo {
    top: -50px;
    left: -64px;
  }

  #cover-container #cover-focus {
    bottom: -106px;
    left: 0;
    max-width: 100%;
  }

  #intro-text-container {
    padding-left: 20px;
  }

  .xl-text {
    font-size: 3em !important;
    margin-bottom: 30px !important;
  }

  .lg-text {
    font-size: 1.8em !important;
  }

  #cover-container #intro-text-container {
    left: 0;
  }

  #email-signup > div {
    margin-left: 0 !important;
    margin-top: 30px;
  }

  #email-signup h3 {
    font-size: 1.2em;
  }

  .split-image-section {
    display: block;
    height: auto;
  }

  .split-image-section > div {
    width: 100%;
  }

  .split-image-section .split-image {
    height: 100vh !important;
  }

  .split-image-section .bordered-callout {
    font-size: 1em;
  }

  .gutter-left {
    margin-left: 0 !important;
    margin-top: 30px;
  }
}

